<h1>Instances Monitored</h1>
<pre>Auto update every 1 minute.</pre>
<div class="row marketing">

  <div class="row" style="min-height: 190px; border-bottom: #ccc 4px dashed;padding-top: 20px;" ng-repeat="instance in instances" ng-if="instances.length > 0">

    <div class="col-md-3"><img src="http://deepakkarki.github.io/include/img/about/linux3.png" style="height: 148px"></div>
    <div class="col-md-3">
      <p><strong>MAC Adrress:</strong> <span ng-bind="instance.id"></span></p>
      <p><strong>Machine name:</strong> <span ng-bind="instance.machine_name"></span></p>
    </div>
    <div class="col-md-3">

      <nvd3 options="optionsCpu" data="[
        {'key': '%', y: instance.cpu},
        {'key': '', y: 100-instance.cpu, color:'#ccc'}
      ]"></nvd3>
    </div>
    <div class="col-md-3">

      <nvd3 options="optionscurl -L https://github.com/docker/compose/releases/download/1.7.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-composeDisk" data="[
        {'key': '%', y: instance.disk_usage},
        {'key': '', y: 100-instance.disk_usage, color:'#ccc'}
      ]"></nvd3>
    </div>
    <div class="col-md-12" style="margin-top: 25px">
      <form class="form-inline">
        <div class="form-group">
          <label label-for="threshold">CPU threshold to shutdown machine:</label> <input class="form-control" ng-blur="save(instance)" id="threshold" type="text" ng-model="instance.threshold">
          </div>
      </form>
    </div>

    <div class="col-md-12" style="margin-top: 25px">
      <button ng-click="showProcess()" style="margin-bottom: 25px" class="btn btn-primary">{{getText()}}</button>
      <table class="table table-condensed table-striped" ng-if="showProcesses">
        <tr>
          <th>Name</th>
          <th>CPU %</th>
        </tr>
        <tr ng-repeat="process in instance.processes">
          <td ng-bind="process[0]"></td>
          <td ng-bind="process[1]"></td>
        </tr>
      </table>
    </div>
  </div>

</div>
