<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

 <div class="row marketing">

<div class="row" ng-if="instances.length > 0">
  
      <div class="col-md-3"><img src="http://deepakkarki.github.io/include/img/about/linux3.png" style="height: 148px"></div>
      <div class="col-md-4">
        <p><strong>MAC Adrress:</strong> <span ng-bind="instance.id"></span></p>
        <p><strong>Machine name:</strong> <span ng-bind="instance.machine_name"></span></p>
      </div>
      <div class="col-md-2">
          <nvd3-pie-chart
            data="{key:'cpu', value: instance.cpu}"
            showLabels="false"
            donut="true"
            donutRatio=".5"
            donutLabelsOutside="true">
        <svg height="80"></svg>
    </nvd3-pie-chart>
        </div>
      <div class="col-md-2">
         <nvd3-pie-chart
            data="{key:'cpu', value: instance.disk_usage}"
            showLabels="false"
            donut="true"
            donutRatio=".5"
            donutLabelsOutside="true">
        <svg height="80"></svg>
      </div>
  </div>
</div>
